################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrgOps/OrgOps/obj
/OrgOps/.vs/OrgOps/v16
